body{
	margin:0;
	padding: 0;
}
*{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.header{
	height: 40px;
	width: 100%;
	background-color: red;
}

.top-carousal-card-container{
	height: 300px;
	overflow:hidden;
}

.top-carousal-card{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.top-carousal-card-heading{
	position: absolute;
	top: 50px;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 50px;
	font-weight: 500;
	line-height: 24px;
}

.top-carousal-card-sub-heading{
	position: absolute;
	top: 130px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 20px;
	line-height: 22px;
}

.bottom-container{
	margin-bottom: 30px;
}

.bottom-carousal-container{
    padding: 4% 7% 4% 5%;
    position: relative;
}

.bottom-carousal-container .title{
	font-weight: 600;
	font-size: 20px;
	margin-left: 3.1%;
}
.bottom-carousal-container .view-all-button{
	color: #5e23dc;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    display: inline-flex;
    float: right;
    margin-right: 1.3%;
}

.carousal-card-container{
	height: 390px;
}

.carousal-card-container .cards{
	position: relative;
	display: inline-block;
	width: 250px;
	height: 345px;
    margin-left: 45px;
    margin-top: 25px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
	border: 1px solid rgba(127, 127, 127, 0.1);
}

.video-card-container{
	height: 260px;
	display: inline-flex;
}

.video-card-container .video-cards{
	position: relative;
	width: 250px;
	height: 200px;
	margin-left: 24px;
	margin-top: 50px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
}

.video-card-image {
	height: 100%;
	background-color: #737b82;
	background-size: contain;
}

.cards .card-image {
	height: 160px;
	background-color: aliceblue;
	background-size: 100% 100%;
}

.cards .card-image-tag{
    position: absolute;
    background-color: rgba(0, 128, 0, 1);
    top: 22px;
    left: 20px;
    padding: 4px 6px;
    border-radius: 40px;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.cards .card-bottom-info{
    padding: 4px 12px;
    height: 170px;
}

.cards .card-header-text{
	margin: 10px 0px 6px 0px;
	font-weight: 500;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1rem;
}

.cards .card-text{
	font-size: .75rem;
	height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #7e7e7e;
}

.cards .card-time{
	font-size: 0.65rem;
	color: #7e7e7e;
	display: inline-block;
	width: 40%;
	padding: 10px 0px;
	vertical-align: top;
}

.cards .card-venue{
	font-size: 0.65rem;
	color: #7e7e7e;
	display: inline-block;
	width: 60%;
	text-align: right;
	padding: 10px 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
	white-space: nowrap;
}
._videos{
	padding: 0 3.2%;
}
._blogs{
	.card-text{
		height: 130px;
	}
}